{% extends "menu/base_nav.html" %}
{% block body %}
	<h1 class="info_header" style="font-family: 'Herr Von Muellerhoff', cursive; letter-spacing: 3px; color: #eda81e; font-size: 60px;"> About Us </h1>
	<div class="decorator">
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-star-o"></i>
		<i class="fa fa-star-o star-1x"></i>
		<i class="fa fa-star-o"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
	</div>
	<div class="container-fluid" id="about_description">
		<div class="container-fluid" id="about_detail">
			<div class="col-md-6" style="margin-top: 30px;">
				<img src="../static/images/about.jpg" class="about_image">
			</div>
			<div class="col-md-6" style="margin-top: 30px; font-family: 'Ubuntu', sans-serif; font-size: 13pt;">
				<p>Khang Thinh Castle is established in 2016 by Khang Thinh Ltd. Company. Originally located in Long Thanh town, Dong Nai province, we aim to create an eatery and drinkery world that would provide high quality food and drink and offer an environment where everyone could enjoy at any time.
				</p>

				<p>Our Objectives:<p>
				<ul>
				<li>To provide the highest quality of food and drink at the lowest possible price</li>
				<li>To offer alternative food with emphasis on freshly prepared, natural and ethnic specialities</li>
				<li>To offer service during non-peak hours when all other food services are closed</li>
				<li>To foster an atmosphere of concern and responsiveness to ecological practices</li>
				<li>To create a relaxing and enjoyable environment for everyone at any age</li>
				<li>To employ people to the maximum extent possible</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}