{% extends "menu/base_nav.html" %}
{% block body %}
	<h1 class="info_header" style="font-family: 'Herr Von Muellerhoff', cursive; letter-spacing: 3px; color: #eda81e; font-size: 60px;"> Career </h1>
	<div class="decorator">
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-star-o"></i>
		<i class="fa fa-star-o star-1x"></i>
		<i class="fa fa-star-o"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
	</div>
	<div class="container-fluid" id="about_description">
		<div class="container-fluid" id="about_detail">
			<div class="col-md-6" style="margin-top: 30px;">
				<img src="../static/images/staff.jpg" class="about_image">
			</div>
			<div class="col-md-6" style="margin-top: 30px; font-family: 'Ubuntu', sans-serif; font-size: 13pt;">
				<p>We are looking for these positions:</p>
				
				<ul>
					<li>Waitstaff</li>
					<li>Cashier</li>
					<li>Security</li>
					<li>Barista</li>
					<li>Kitchen Hand</li>
				</ul>
				<p>For further details please contact us at: +84 932 55 6768</p>
			</div>
		</div>
	</div>
{% endblock %}