{% extends "menu/base.html" %}
{% block body %}

	<div id="wrapper">
        <!-- main content -->
        <main>
            <!-- The header for content -->
            <header class="detail">
                <a href=".." class="back" data-transition="slide-from-top">
                    <h1>back</h1>
                </a>
                <section>
                    <h3 class="badge">The story</h3>
                    <h1>About us</h1>
                </section>
            </header>
            <!-- end header -->
            <div class="content-wrap">
                <div class="content">
                    <i class="icon bg icon-CommentwithLines"></i>
                    <section>
                        <header>
                            <h2>What we do</h2>
                            <h4 class="serif">Our little story</h4>
                        </header>

                        <section>
							<div>
								<img src="../static/images/staff.jpg" class="about_image">
							</div>
							<div style="margin-top: 30px; font-family: 'Ubuntu', sans-serif; font-size: 13pt;">
								<p>We are looking for these positions:</p>
								
								<ul>
									<li>Waitstaff</li>
									<li>Cashier</li>
									<li>Security</li>
									<li>Barista</li>
									<li>Kitchen Hand</li>
								</ul>
								<p>For further details please contact us at: +84 932 55 6768</p>
							</div>
                        </section>
                    </section>
                </div>
            </div>
            <div data-remodal-id="modal">
                <i class="icon bg icon-CommentwithLines"></i>
                <button data-remodal-action="close" class="remodal-close"></button>
                <h1></h1>
                <p></p>
                <div class="signature center">
                    <h6>-CHEF-</h6>
                    <h5>Pierre Gabant</h5>
                </div>
            </div>
        </main>
        <!-- end of main content -->
    </div>

	<!--<h1 class="info_header" style="font-family: 'Herr Von Muellerhoff', cursive; letter-spacing: 3px; color: #eda81e; font-size: 60px;"> Career </h1>
	<div class="decorator">
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-star-o"></i>
		<i class="fa fa-star-o star-1x"></i>
		<i class="fa fa-star-o"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
	</div>
	<div class="container-fluid" id="about_description">
		<div class="container-fluid" id="about_detail">
			<div class="col-md-6" style="margin-top: 30px;">
				<img src="../static/images/staff.jpg" class="about_image">
			</div>
			<div class="col-md-6" style="margin-top: 30px; font-family: 'Ubuntu', sans-serif; font-size: 13pt;">
				<p>We are looking for these positions:</p>
				
				<ul>
					<li>Waitstaff</li>
					<li>Cashier</li>
					<li>Security</li>
					<li>Barista</li>
					<li>Kitchen Hand</li>
				</ul>
				<p>For further details please contact us at: +84 932 55 6768</p>
			</div>
		</div>
	</div>-->
{% endblock %}