{% extends "menu/base_nav.html" %}
{% block body %}
	<h1 class="info_header" style="font-family: 'Herr Von Muellerhoff', cursive; letter-spacing: 3px; color: #eda81e; font-size: 60px;"> Contact Us </h1>
	<div class="decorator">
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-star-o" aria-hidden="true"></i>
		<i class="fa fa-star-o star-1x" aria-hidden="true"></i>
		<i class="fa fa-star-o" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
	</div>
	<div class="container-fluid" id="about_description">
		<div class="container-fluid" id="contact_detail">
			<div class="col-md-6" style="margin-top: 30px;">
				<h1 class="info_header" style="font-family: 'Herr Von Muellerhoff', cursive; letter-spacing: 3px; color: #eda81e; font-size: 40px;"> Contact Details </h1>
				<p> Opening hours: 6:30 AM - 10:00 PM</p><br>
				<p> We accept reservation bookings, and catering for parties. For more details please contact us either via email or phone.</p><br>
				<p>
					<i class="fa fa-home" aria-hidden="true"></i>
					121 Duong 769, Xa Loc An, Huyen Long Thanh, Tinh Dong Nai
				</p><hr>
				<p>
					<i class="fa fa-phone" aria-hidden="true"></i>
					+84 932 55 6768 (Ms. Quynh)
				</p><hr>
				<p>
					<i class="fa fa-envelope-o" aria-hidden="true"></i>
					khangthinh_cafe@gmail.com
				</p><hr>
			</div>
			<div class="col-md-6" style="margin-top: 30px;">
				<iframe width="560" height="400" frameborder="0" style="border:0; margin-bottom: 20px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBkIptrWg-3n1sc8HYWbdNQ_xC4xRWc5-0
    &q=121+Duong+769+Xa+Loc+An+Dong Nai+Vietnam" allowfullscreen>
				</iframe>
			</div>
		</div>
	</div>
{% endblock %}