{% extends "menu/base.html" %}
{% block body %}

	<div id="wrapper">
		<!-- main content -->
		<main>
			<!-- The header for content -->
			<header class="detail">
				<a href=".." class="back" data-transition="slide-from-top">
					<h1>back</h1>
				</a>
				<section>
					<h3 class="badge">Contact</h3>
					<h1>Leave us a message</h1>
				</section>
			</header>
			<!-- end header -->
			<div class="content-wrap">
				<div class="content">
					<i class="icon bg icon-CommentwithLines"></i>
					<section class="info">
						<header>
							<h2>Opening Hours</h2>
							<div class="hours">
								<time itemprop="openingHours" datetime="Monday 10:00-24:00">
									<strong>Monday - Sunday</strong>
									<h3>6:30 - 22:00</h3>
								</time>
							</div>
						</header>
					</section>
					<section class="info">
						<header>
							<h2>Information</h2>
							<h4 class="serif">Booking: +84 932 55 6768</h4>
						</header>
						<p>We accept reservation bookings, and catering for parties. For more details please contact us either via email or phone.</p>
						<ul class="icon-list">
							<li>
								<a href="#">
									<i class="fa fa-home" aria-hidden="true"></i>
									<span>121 Duong 769, Xa Loc An, Huyen Long Thanh, Tinh Dong Nai</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-phone" aria-hidden="true"></i>
									<span>+84 932 55 6768 (Ms. Quynh)</span>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-envelope-o" aria-hidden="true"></i>
									<span>khangthinh_cafe@gmail.com</span>
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/Khang-Th%E1%BB%8Bnh-Castle-1247471815310269/?fref=ts">
									<i class="fa fa-facebook" aria-hidden="true"></i>
									<span>facebook/khangthinhcastle</span>
								</a>
							</li>
						</ul>
					</section>
					<section class="content">
						<iframe width="560" height="400" frameborder="0" style="border:0; margin-bottom: 20px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBkIptrWg-3n1sc8HYWbdNQ_xC4xRWc5-0
			&q=121+Duong+769+Xa+Loc+An+Dong Nai+Vietnam" allowfullscreen>
						</iframe>
					</section>
				</div>
			</div>
			<div data-remodal-id="modal">
				<i class="icon bg icon-CommentwithLines"></i>
				<button data-remodal-action="close" class="remodal-close"></button>
				<h1>Thank you!</h1>
				<p>We will get back to you as soon as possible!</p>
				<div class="signature center">
					<h6>-CHEF-</h6>
					<h5>Pierre Gabant</h5>
				</div>
			</div>
		</main>
		<!-- end of main content -->
	</div>

	<!--<h1 class="info_header" style="font-family: 'Herr Von Muellerhoff', cursive; letter-spacing: 3px; color: #eda81e; font-size: 60px;"> Contact Us </h1>
	<div class="decorator">
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-star-o" aria-hidden="true"></i>
		<i class="fa fa-star-o star-1x" aria-hidden="true"></i>
		<i class="fa fa-star-o" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
	</div>
	<div class="container-fluid" id="about_description">
		<div class="container-fluid" id="contact_detail">
			<div class="col-md-6" style="margin-top: 30px;">
				<h1 class="info_header" style="font-family: 'Herr Von Muellerhoff', cursive; letter-spacing: 3px; color: #eda81e; font-size: 40px;"> Contact Details </h1>
				<p> Opening hours: 6:30 AM - 10:00 PM</p><br>
				<p> We accept reservation bookings, and catering for parties. For more details please contact us either via email or phone.</p><br>
				<p>
					<i class="fa fa-home" aria-hidden="true"></i>
					121 Duong 769, Xa Loc An, Huyen Long Thanh, Tinh Dong Nai
				</p><hr>
				<p>
					<i class="fa fa-phone" aria-hidden="true"></i>
					+84 932 55 6768 (Ms. Quynh)
				</p><hr>
				<p>
					<i class="fa fa-envelope-o" aria-hidden="true"></i>
					khangthinh_cafe@gmail.com
				</p><hr>
			</div>
			<div class="col-md-6" style="margin-top: 30px;">
				<iframe width="560" height="400" frameborder="0" style="border:0; margin-bottom: 20px;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBkIptrWg-3n1sc8HYWbdNQ_xC4xRWc5-0
	&q=121+Duong+769+Xa+Loc+An+Dong Nai+Vietnam" allowfullscreen>
				</iframe>
			</div>
		</div>
	</div>-->
{% endblock %}