{% extends "menu/base.html" %}
{% block body %}

	<div id="wrapper">
		<!-- main content -->
		<main>
			<!-- The header for content -->
			<header class="detail">
				<a href=".." class="back" data-transition="slide-from-top">
					<h1>back</h1>
				</a>
				<section>
					<h3 class="badge">Our Menu</h3>
					<h1>Food & Drink</h1>
				</section>
			</header>
			<!-- end header -->
			<div class="content-wrap">
                <div class="content">
                    <i class="icon bg icon-Food"></i>
                    <header class="with-subnav">
                        <ul>
                            <li class="btn ">
                                <a href="menu">
                                    <h4>Promotion</h4>
                                </a>
                            </li>
                            <li class="btn active">
                                <a href="full-menu">
                                    <h4>Full Menu</h4>
                                </a>
                            </li>
                        </ul>
                    </header>

                    <!-- menu content -->
                    <header>
                        <h3 class="badge">• starters •</h3>
                    </header>


                            <p><a href="#" class="embed-link">Click this link to view Menu.</a></p>
                            <!--<div id="results" class="hidden"></div>-->
                            <div id="pdf"></div>

                            <script>
                                document.querySelector(".embed-link").addEventListener("click", function (e){

                                    e.preventDefault();

                                    this.setAttribute("class", "hidden");

                                    var options = {
                                        pdfOpenParams: {
                                            pagemode: "thumbs",
                                            navpanes: 0,
                                            toolbar: 0,
                                            statusbar: 0,
                                            view: "FitV"
                                        },
                                        width: "100%",
                                        height: "100rem"
                                    };

                                    var myPDF = PDFObject.embed("../static/files/Menu.pdf", "#pdf", options);

                                    var el = document.querySelector("#results");
                                    el.setAttribute("class", (myPDF) ? "success" : "fail");
                                    el.innerHTML = (myPDF) ? "PDFObject successfully added an &lt;embed> element to the page!" : "Uh-oh, the embed didn't work.";

                                });
                            </script>


                    <!-- end menu content -->
                </div>
            </div>
			<div data-remodal-id="modal">
				<i class="icon bg icon-CommentwithLines"></i>
				<button data-remodal-action="close" class="remodal-close"></button>
				<h1></h1>
				<p></p>
				<div class="signature center">
					<h6>-CHEF-</h6>
					<h5>Pierre Gabant</h5>
				</div>
			</div>
		</main>
		<!-- end of main content -->
	</div>
{% endblock %}