{% extends "menu/base.html" %}
{% block body %}
<body class="home_body" id="home_body">
	<div class="brand">
		<h1 style="font-family: 'Herr Von Muellerhoff', cursive; letter-spacing: 1px; font-size: 30pt; text-align: center;">Khang Thinh Cafe</h1>
	</div>
	<h6 class="address-bar" style="letter-spacing: 1px;"><br>121 Duong 769, Xa Loc An, Huyen Long Thanh, Tinh Dong Nai &nbsp|&nbsp Booking: +84 932 556 768 (Ms. Quynh)</h6>
	<br>
	<div class="container-fluid" id="transparent-div">
		<div class="col-md-3" id="nav-item">
			<a href="about" id="remove-a-property">ABOUT US</a>
			<p class="nav-description"><i>get to know our mission</i>
		</div>
		<div class="col-md-3" id="nav-item">
			<a href="menu" id="remove-a-property">MENU</a>
			<p class="nav-description"><i>our refreshing drinks and desserts</i></p>
		</div>
		<div class="col-md-3" id="nav-item">
			<a href="career" id="remove-a-property">CAREER</a>
			<p class="nav-description"><i>be part of our team</i>
		</div>
		<div class="col-md-3" id="nav-item">
			<a href="contact" id="remove-a-property">CONTACT US</a>
			<p class="nav-description"><i>have enquiries or need directions?</i>
		</div>
	</div>

	<div class="footer" style="letter-spacing: 1px; color: white;">
		<p class="muted pull-right"> © 2016 Khang Thinh. All rights reserved &nbsp &nbsp &nbsp</p>
	</div>
</body>
{% endblock %}