{% extends "menu/base.html" %}
{% block body %}

	<div id="wrapper">
		<!-- main content -->
		<main>
			<div class="brand">
				<h1 style="font-family: 'Herr Von Muellerhoff', cursive; letter-spacing: 1px; font-size: 30pt; text-align: center; color: #c1c9cc;">Khang Thinh Cafe</h1>
			</div>
			<p class="address-bar" style="letter-spacing: 1px;"><br/>121 Duong 769, Xa Loc An, Huyen Long Thanh, Tinh Dong Nai &nbsp|&nbsp <span class="address-bar" style="color: yellow;">Booking: +84 932 556 768 (Ms. Quynh)</span></p>
			<br/>
			<header>
				<a href="#" class="logo">
					<h1>Khang Thinh Cafe</h1>
				</a>
			</header>
			<!-- The navigation -->
			<nav class="strokes">
				<ul id="navigation">
					<li>
						<a href="about" data-transition="slide-to-top">
							<section>
								<h1 class="nav-item">ABOUT US</h1>
								<h5 class="badge-rounded">get to know our mission</h5>
							</section>
							<footer>
								<i class="icon icon-CommentwithLines"></i>
								<h5 class="serif">Our story</h5>
								<p>Read more</p>
							</footer>
						</a>
					</li>
					<li>
						<a href="menu" data-transition="slide-to-top">
							<section>
								<h1 class="nav-item">MENU</h1>
								<h5 class="badge-rounded">our refreshing drinks and desserts</h5>
							</section>
							<footer>
								<i class="icon icon-Food"></i>
								<h5 class="serif">Our kitchen</h5>
								<p>Coffee & desserts</p>
							</footer>
						</a>
					</li>
					<li>
						<a href="career" data-transition="slide-to-top">
							<section>
								<h1 class="nav-item">CAREER</h1>
								<h5 class="badge-rounded">be part of our team</h5>
							</section>
							<footer>
								<i class="icon icon-CreateNew"></i>
								<h5 class="serif">Career</h5>
								<p>Opportunities</p>
							</footer>
						</a>
					</li>
					<li>
						<a href="contact" data-transition="slide-to-top">
							<section>
								<h1 class="nav-item">CONTACT US</h1>
								<h5 class="badge-rounded">need directions?</h5>
							</section>
							<footer>
								<i class="icon icon-LocationMarker"></i>
								<h5 class="serif">Get in touch</h5>
							</footer>
						</a>
					</li>
				</ul>
			</nav>
			<!-- End navigation -->

			<!-- Overlay background
			<div class="overlay"></div>
			-->

			<div data-remodal-id="modal">
				<i class="icon bg icon-CommentwithLines"></i>
				<button data-remodal-action="close" class="remodal-close"></button>
				<h1></h1>
				<p></p>
				<div class="signature center">
					<h6>-CHEF-</h6>
					<h5>Pierre Gabant</h5>
				</div>
			</div>
		</main>
		<!-- end of main content -->
	</div>
	
{% endblock %}