{% extends "menu/base.html" %}
{% block body %}

	<div id="wrapper">
        <!-- main content -->
        <main>
            <!-- The header for content -->
            <header class="detail">
                <a href=".." class="back" data-transition="slide-from-top">
                    <h1>back</h1>
                </a>
                <section>
                    <h3 class="badge">The story</h3>
                    <h1>About us</h1>
                </section>
            </header>
            <!-- end header -->
            <div class="content-wrap">
                <div class="content">
                    <i class="icon bg icon-CommentwithLines"></i>
                    <section>
                        <header>
                            <h2>Menu of our food and drinks</h2>
                            <h4 class="serif">From delicious cakes to coffee and more</h4>
                        </header>

                        <section>
							<div>
								<img src="../static/images/about.jpg" class="about_image">
							</div>

                            <p><a href="#" class="embed-link">Click this link to view Menu.</a></p>
                            <!--<div id="results" class="hidden"></div>-->
                            <div id="pdf"></div>

                            <script>
                                document.querySelector(".embed-link").addEventListener("click", function (e){

                                    e.preventDefault();

                                    this.setAttribute("class", "hidden");

                                    var options = {
                                        pdfOpenParams: {
                                            pagemode: "thumbs",
                                            navpanes: 0,
                                            toolbar: 0,
                                            statusbar: 0,
                                            view: "FitV"
                                        },
                                        width: "100%",
                                        height: "100rem"
                                    };

                                    var myPDF = PDFObject.embed("../static/files/Menu.pdf", "#pdf", options);

                                    var el = document.querySelector("#results");
                                    el.setAttribute("class", (myPDF) ? "success" : "fail");
                                    el.innerHTML = (myPDF) ? "PDFObject successfully added an &lt;embed> element to the page!" : "Uh-oh, the embed didn't work.";

                                });
                            </script>
                            
                        </section>
                    </section>
                </div>
            </div>
            <div data-remodal-id="modal">
                <i class="icon bg icon-CommentwithLines"></i>
                <button data-remodal-action="close" class="remodal-close"></button>
                <h1></h1>
                <p></p>
                <div class="signature center">
                    <h6>-CHEF-</h6>
                    <h5>Pierre Gabant</h5>
                </div>
            </div>
        </main>
        <!-- end of main content -->
    </div>

	<!--<h1 class="info_header" style="font-family: 'Herr Von Muellerhoff', cursive; letter-spacing: 3px; color: #eda81e; font-size: 60px;"> Menu </h1>
	<div class="decorator">
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-star-o"></i>
		<i class="fa fa-star-o star-1x"></i>
		<i class="fa fa-star-o"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
	</div>
	<div class="container-fluid" id="about_description">
		<div class="container-fluid" id="about_detail">
			<div class="col-md-6" style="margin-top: 30px;">
				<img src="../static/images/about.jpg" class="about_image">
			</div>
			<div class="col-md-6" style="margin-top: 30px; font-family: 'Ubuntu', sans-serif; font-size: 13pt;">
				<p>To be updated</p>
			</div>
		</div>
	</div>-->
{% endblock %}