{% extends "menu/base_nav.html" %}
{% block body %}
	<h1 class="info_header" style="font-family: 'Herr Von Muellerhoff', cursive; letter-spacing: 3px; color: #eda81e; font-size: 60px;"> Menu </h1>
	<div class="decorator">
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-star-o"></i>
		<i class="fa fa-star-o star-1x"></i>
		<i class="fa fa-star-o"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
	</div>
	<div class="container-fluid" id="about_description">
		<div class="container-fluid" id="about_detail">
			<div class="col-md-6" style="margin-top: 30px;">
				<img src="../static/images/about.jpg" class="about_image">
			</div>
			<div class="col-md-6" style="margin-top: 30px; font-family: 'Ubuntu', sans-serif; font-size: 13pt;">
				<p>To be updated</p>
			</div>
		</div>
	</div>
{% endblock %}