{% extends "menu/base.html" %}
{% block body %}

	<div id="wrapper">
		<!-- main content -->
		<main>
			<!-- The header for content -->
			<header class="detail">
				<a href=".." class="back" data-transition="slide-from-top">
					<h1>back</h1>
				</a>
				<section>
					<h3 class="badge">Our Menu</h3>
					<h1>Food & Drink</h1>
				</section>
			</header>
			<!-- end header -->
			<div class="content-wrap">
                <div class="content">
                    <i class="icon bg icon-Food"></i>
                    <header class="with-subnav">
                        <ul>
                            <li class="btn active">
                                <a href="menu">
                                    <h4>Promotion</h4>
                                </a>
                            </li>
                            <li class="btn ">
                                <a href="full-menu">
                                    <h4>Full Menu</h4>
                                </a>
                            </li>
                        </ul>
                    </header>

                    <!-- menu content -->
                    <header>
                        <h3 class="badge">• starters •</h3>
                    </header>

                    <ul class="price-list">
                        <li>
                            <div class="top">
                                <h3 class="title">Parisian Hamburger</h3>
                                <h4 class="price badge">$ 18.0</h4>
                            </div>
                            <p class="description">Raw onions, beetroots, pickles, capers, horseradish, egg yolk</p>
                        </li>
                        <li>
                            <div class="top">
                                <h3 class="title">Minced meat steak</h3>
                                <h4 class="price badge">$ 22.0</h4>
                            </div>
                            <p class="description">Fried onions, white potatoes, pickled cucumber and gravy</p>
                        </li>
                        <li>
                            <div class="top">
                                <h3 class="title">Delgardosteak</h3>
                                <h4 class="price badge">$ 22.0</h4>
                            </div>
                            <p class="description">Mustard, tomato, cheese, fried potatoes and gravy</p>
                        </li>
                        <li>
                            <div class="top">
                                <h3 class="title">Pork rib roast</h3>
                                <h4 class="price badge">$ 25.0</h4>
                            </div>
                            <p class="description">White potatoes, red cabbage, pickled cucumber and gravy</p>
                        </li>
                        <li>
                            <div class="top">
                                <h3 class="title">Today’s special</h3>
                                <h4 class="price badge">$ 22.0</h4>
                            </div>
                            <p class="description">Everyday fresh</p>
                        </li>
                    </ul>
                    <header>
                        <h3 class="badge">• specials •</h3>
                    </header>

                    <ul class="price-list">
                        <li>
                            <div class="top">
                                <h3 class="title">Breaded shrimps</h3>
                                <h4 class="price badge">$ 22</h4>
                            </div>
                            <p class="description">Salad, dressing, lemon, bread and butter</p>
                        </li>
                        <li>
                            <div class="top">
                                <h3 class="title">Lagune-cocktail</h3>
                                <h4 class="price badge">$ 19</h4>
                            </div>
                            <p class="description">Shrimps, pineapple, salad, dressing, bread and butter</p>
                        </li>
                        <li>
                            <div class="top">
                                <h3 class="title">Smoked salmon</h3>
                                <h4 class="price badge">$ 16</h4>
                            </div>
                            <p class="description">Asparagus, herb dressing, salad, bread and butter</p>
                        </li>
                        <li>
                            <div class="top">
                                <h3 class="title">Green salad</h3>
                                <h4 class="price badge">$ 22</h4>
                            </div>
                            <p class="description">Dressing, bread and butter</p>
                        </li>
                    </ul>

                    <aside class="notice">
                        <i class="icon bg inverted icon-Notification"></i>
                        <h3>Chef's notice</h3>
                        <p>We have fresh tuna coming in every day ask for our specials. Let us surprise you.</p>
                    </aside>

                    <!-- end menu content -->
                </div>
            </div>
			<div data-remodal-id="modal">
				<i class="icon bg icon-CommentwithLines"></i>
				<button data-remodal-action="close" class="remodal-close"></button>
				<h1></h1>
				<p></p>
				<div class="signature center">
					<h6>-CHEF-</h6>
					<h5>Pierre Gabant</h5>
				</div>
			</div>
		</main>
		<!-- end of main content -->
	</div>
{% endblock %}